@{
    ViewData["Title"] = "Bem vindo ao WineBay";
}

<body style="background-image: url(/images/fotos/winebay.png);">
</body>
<div style="font-size:xx-large;
          position:static;
          color:white;font-size:35px; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          position: fixed;
          top: 50%;left: 50%;
          margin-top: -50px;
          margin-left: -100px;">Bem vindo ao WineBay, vinhos ao seu gosto!</div>